body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="checkbox"] {
  display: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 50vw;
}

.checkbox__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.checkbox_label {
  width: 1.2em;
  height: 1.2em;
  border: solid 1px rgba(44, 62, 80,1.0);
  border-radius: 0.1em;
  display: inline-flex;
  cursor: pointer;
  transition: all 0.3s ease 0.2s;
}

.material-icons {
  position: relative;
  bottom: 0.3em;
  right: 0.07em;
  font-size: 2em;
  transform: scale(0.5) rotate(-15deg);
  transform-origin: bottom;
  opacity: 0;
  transition: all 0.3s ease;
  color: rgba(44, 62, 80,1.0);
}

.checkbox_label:nth-of-type(2) {
  margin: 2em;
}

#checkbox_1:checked + .checkbox_label {
  background-color: #77d3c1;
}

#checkbox_2:checked + .checkbox_label {
  background-color: #77d3c1;
}

#checkbox_3:checked + .checkbox_label {
  background-color: #77d3c1;
}

#checkbox_1:checked + .checkbox_label > .material-icons {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

#checkbox_2:checked + .checkbox_label > .material-icons {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

#checkbox_3:checked + .checkbox_label > .material-icons {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

button {
  outline: none;
  padding: 1em 1.5em;
  border: solid 1px rgba(44, 62, 80,1.0);
  color: rgba(44, 62, 80,1.0);
  background-color: #ffffff;
  border-radius: 0.2em;
  font-size: 0.8em;
  cursor: pointer;
}
