.yammy-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 10em;
  padding: 1em;
  border: solid 2px $main-font-color;
  border-radius: 0 0.3em;
  position: absolute;
  right: -1em;
  background-color: $section-color-1;
  transform: translateX(95%);
  transition: transform 0.4s ease-in-out;
  &:before {
    content: "";
    width: 3em;
    height: 3em;
    border-left: solid 2px $main-font-color;
    border-top: solid 2px $main-font-color;
    border-bottom: solid 2px $main-font-color;
    border-radius: 0.3em 0 0 0.3em;
    background-color: $section-color-1;
    position: absolute;
    left: -3em;
    top: -0.1em;
  }
  &:hover {
    transform: translateX(0);
  }
  & img {
    width: 80%;
    height: auto;
    margin-top: 0.5em;
  }
}

.yam-link {
  text-align: center;
  transform: scale(1) rotate(0);
  transition: transform 0.6s ease;
  &:hover {
    transform: scale(1.15) rotate(-5deg);
  }
}
